-- Example 0
YNN
3
NYN
NNY
NNN

3
-- Example 1
YNNY
4
NYYN
YNNY
YNNY
NYYN

1
-- Example 2
YYYY
4
NYNN
YNYN
NYNY
NNYN

0
-- Example 3
YYYYYN
6
NYYYYN
YNYYYN
YYNYYN
YYYNYN
YYYYNN
NNNNNN

-1
-- Example 4
NNNY
4
NNNN
YNNN
YNNN
NYYN

3
-- Example 5
 "NNNNNNNYYY"
10
NYNNYNNYNN
NNYNYNNNNY
YYNNNYNNNN
YNNNYNYNNN
NNYNNYNNYN
NNNNYNNNYY
NYNYNYNNNN
NNNNNNYNYY
NNNYNNNYNY
NYYNNNNYNN

2
